.callout {
    width:400px;
    max-width:500px;
    height: auto;
    border: 0 soild black;
    padding: 10px;
    background-color:#247;
    color:white;
    margin:10px;

}

.callout img {
    border:2px solid black;
    padding:3px;
    background-color:gray;
    float:right;
    margin: 0 0 15px 15px;
    width:100px;
    height:auto;
}

blockquote {
    margin:10px;
    position:0 0 0;
    color:white;    
}

cite {
    display:block;
    border-top:1px dotted;
    width:100%;
    text-align:right;
    top-padding:10px;
    font-size:14px;
}

